.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: deeppink;
    color: #ffffff;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* Main styles */
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  /* Form styles */
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="expense_amount"],
  input[type="category"],
  input[type="date"],
  input[type="notes"],
  
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: deeppink;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid deeppink;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
}
  
  label {
    display: block;
    margin-bottom: 8px;
}
  
  label.light {
    font-weight: 300;
    display: inline;
}

  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
}

/* Footer styles */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: deeppink;
}

/* Popup styles */
.popup-arrow sl-popup {
    --arrow-color: var(--sl-color-primary-600);
}

.popup-arrow span[slot='anchor'] {
    display: inline-block;
    /* width: 150px;
    height: 150px;
    border: dashed 2px var(--sl-color-neutral-600); */
    margin: 50px;
}

.popup-arrow .box {
    /* width: 100px;
    height: 50px; */
    background: var(--sl-color-primary-600);
    border-radius: var(--sl-border-radius-medium);
}

.popup-arrow-options {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 1rem;
}

.popup-arrow-options sl-select {
    width: 160px;
}

.popup-arrow-options+.popup-arrow-options {
    margin-top: 1rem;
}